timeseries-node/example_flow.txt
[{"id":"52f36283.ad0c9c","type":"mqtt-broker","broker":"50.23.106.210","port":"1883","clientid":""},{"id":"4bc23d77.7343f4","type":"timeseries","hostname":"9.25.157.23","port":"27018","db":"iot_demo","name":""},{"id":"c33cec20.1fb7f","type":"timeseries out","timeseries":"4bc23d77.7343f4","name":"Store data in TimeSeries","baseTimeSeriesTable":"temperature","x":747.3333129882812,"y":138.3333282470703,"z":"9178f460.522058","wires":[]},{"id":"eb760842.ad2a1","type":"http in","name":"Get sensor temperature","url":"/temp","method":"post","x":117.33332824707031,"y":110.33333587646484,"z":"9178f460.522058","wires":[["6f1336a4.3e8d88"]]},{"id":"f6fdf5dc.0502f8","type":"timeseries in","timeseries":"4bc23d77.7343f4","name":"Get 15 minute average","baseTimeSeriesTable":"tempearture","tscolumn":"temp_reading","unit":"minutes","range":"15","calendarRange":"15","calendarUnit":"minute","ids":"1","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"temp_f"}],"x":385.6666259765625,"y":296.3333435058594,"z":"9178f460.522058","wires":[["884e6e25.1d2178","cb3de069.fe5b1"]]},{"id":"534fbad4.81e41c","type":"inject","name":"Trigger every 15 mins","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":132,"y":187.55557250976562,"z":"9178f460.522058","wires":[["4785cecd.a8c808"]]},{"id":"4785cecd.a8c808","type":"function","name":"Specify ID of sensor","func":"\nreturn msg;","outputs":1,"x":234.6667022705078,"y":240.00003051757812,"z":"9178f460.522058","wires":[["f6fdf5dc.0502f8"]]},{"id":"884e6e25.1d2178","type":"switch","name":"Threshold","property":"payload.d.temp_avg","rules":[{"t":"gt","v":"85"},{"t":"lte","v":"85"}],"checkall":"true","outputs":2,"x":509.8148193359375,"y":353.03704833984375,"z":"9178f460.522058","wires":[["d6812e7b.2ce33"],["f5a4d879.aa908"]]},{"id":"d6812e7b.2ce33","type":"debug","name":"Turn on A/C","active":true,"console":"false","complete":"payload","x":680.1480102539062,"y":305.592529296875,"z":"9178f460.522058","wires":[]},{"id":"6f1336a4.3e8d88","type":"function","name":"Sample data insertion","func":"msg.payload =  {\"id\":1,\"tstamp\":\"2015-03-11 16:38:40.00000\",\"json_data\":{\"nodeId\":2,\"commandClass\":50,\"label\":\"Current\",\"max\":0,\"min\":0,\"units\":\"A\",\"value\":0}}\nreturn msg;","outputs":1,"x":341.2833251953125,"y":110.28333282470703,"z":"9178f460.522058","wires":[["f2134a9e.a6f898"]]},{"id":"f5a4d879.aa908","type":"debug","name":"Do nothing","active":true,"console":"false","complete":"payload","x":683.2833251953125,"y":399.2833251953125,"z":"9178f460.522058","wires":[]},{"id":"cb3de069.fe5b1","type":"mqtt out","name":"Send average to cloud","topic":"","qos":"","retain":"","broker":"52f36283.ad0c9c","x":589.2833251953125,"y":225.2833251953125,"z":"9178f460.522058","wires":[]},{"id":"f2134a9e.a6f898","type":"switch","name":"discard outlier","property":"payload","rules":[{"t":"gt","v":"150"},{"t":"lte","v":"150"}],"checkall":"true","outputs":2,"x":538.2833251953125,"y":109.28333282470703,"z":"9178f460.522058","wires":[["2f58588c.4209"],["c33cec20.1fb7f"]]},{"id":"2f58588c.4209","type":"debug","name":"Outlier detected","active":true,"console":"false","complete":"payload","x":724.2833251953125,"y":64.28333282470703,"z":"9178f460.522058","wires":[]}]